<div>
  <div class="container-fluid center-block">
  <h1>Login</h1>
    <%= form_for :sessions, url: sessions_path do |f| %>
    <div id="email-input" class="row col-md-9">
      Email:<br>
      <%= f.text_field :email %>
    </div>
    <div id="password-input" class="row col-md-9">
      Password:<br>
      <%= f.password_field :password %>
    </div>
    <div id="login-button" class="row col-md-9">
      <%= f.submit 'Login' %>
    </div>
    <% end %>
  </div>
</div>
