
  <% if is_admin? %>
    <div id="cohort container" class="flex-item center-container">
      <h1>Cohorts</h1>
      <% @cohorts.each do |cohort| %>
        <h4><a href="/cohorts/<%= cohort.id %>"><%= cohort.name %></a></h4>
      <% end %>
    </div>
  <% else %>
    You are not logged in as Admin
  <% end %>
