<div class="flex-item center-container">
  <h1>Create a Pitch</h1><br>
  <div class="flex-col-container center-container input-container">
    <%= form_for [@cohort, @pitch] do |f| %>
    <div class="flex-item">
      App Name:<br>
      <%= f.text_field :app_name %>
    </div>

    <div class="flex-item">
      Text:<br>
      <%= f.text_area :text%>
    </div>

    <div class="flex-item">
      <%= f.submit "Submit" %>
    </div>
    <% end %>

  </div>

</div>
