<div class="flex-item center-container">
  <h1><%= "#{@user.name.capitalize}'s Profile" %></h1>

  <div class="flex-col-container">
    <div class="flex-item">
      <h2>Pitches</h2>
    </div>
    <% if @user.pitches %>
      <% @user.pitches.each do |pitch| %>
        <h4 class="flex-item"><%= pitch.app_name %></h4>
        <div class="flex-item">
          <p><%= pitch.text %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
